<!DOCTYPE html>
<html lang="en" ng-app="RegexSearch">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Search for regular expressions</title>
    <link rel="stylesheet" href="styles/base.css" type="text/css"/>
    <link rel="stylesheet" href="styles/layout.css" type="text/css"/>
    <link rel="stylesheet" href="styles/modules.css" type="text/css"/>
    <link rel="stylesheet" href="styles/layout-new.css" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="scripts/angular.js" type="text/javascript"></script>
</head>
<body class="body" ng-controller="SearchController" ng-cloak ng-class="globalClasses.searchStatus">
<div id="main-wrapper">
    <div id="main-form-container" class="main-form-container">
        <div class="inner-container-wrapper">
            <h1 ng-hide="globalStates.searchStatus" class="intro">Search for a regular expression</h1>

            <form method="get" ng-submit="getRegexListing(searchData.keyword)" class="primary-search-form form">
                <div ng-switch on="activeInput">
                    <div class="field-container primary-search" ng-switch-default>
                        <label for="primary-search-input" class="input-text label primary-search">Search</label>
                        <input type="text" id="primary-search-input" required ng-minlength="{3}"
                               class="main field input-text primary-search" ng-model="searchData.keyword"/>
                        <input type="submit" name="regexSubmit" value="Search" id="regexSubmit"
                               class="main input-submit" ng-show="activeInput == 'search'"/>

                        <div class="form-option-container" ng-show="globalStates.searchStatus">
                                <span>or <a href="" ng-click="setActiveInput('filter')" class=""
                                            ng-class="{'active': activeInput == filter}"
                                        >filter this search</a></span></div>
                    </div>
                    <div class="field-container primary-filter" ng-switch-when="filter">
                        <label for="primary-filter-input" class="input-text label primary-filter">Filter</label>
                        <input type="text" id="primary-filter-input"
                               class="main field input-text primary-filter" ng-model="searchData.filterText"/>

                        <div class="form-option-container"><span>or <a href ng-click="setActiveInput('search')" class=""
                                                                       ng-class="{'active': activeInput == search}">search
                            again</a></span></div>
                    </div>

                </div>

            </form>
        </div>

    </div>

    <div id="results-container" class="results-container" ng-cloak>
        <div class="inner-container-wrapper" ng-view>

        </div>
    </div>

</div>
</div>
</div>

<script src="app/app.js" type="text/javascript"></script>
<script src="scripts/modernizr.js" type="text/javascript"></script>
</body>
</html>