<div class="loading" ng-show="globalStates.searchStatus && !regexModel.data">
</div>

<div class="regex-container"
     ng-repeat="regex in regexModel.data | filter: regexModel.filterText | orderBy: 'Title'"
     ng-class="localClasses.expandfield" expandfield="expanded" ng-cloak>
    <div class="regex-data" ng-class="regexState">
        <div class="regex-data-item-container">
            <a href="{{ '#/' + regex.ExpressionId }}">
                <p class="data-label" ng-cloak>Title</p>

                <p class="data-item" ng-cloak>{{ regex.Title }}</p>
            </a>
        </div>
        <div class="regex-data-item-container last">
            <p class="data-label" ng-cloak>Pattern</p>

            <p class="data-item" ng-cloak>{{regex.Pattern }}</p>
        </div>
        <div class="regex-more-details-container">
            <div class="regex-data-item-container"><p class="data-label">Doesn't Match</p>

                <p class="data-item" ng-cloak>{{ regex.NonMatchingText }}</p>
            </div>
            <div class="regex-data-item-container"><p class="data-label">Matches</p>

                <p class="data-item" ng-cloak>{{ regex.MatchingText }}</p>
            </div>
            <div class="regex-data-item-container last">
                <p class="data-label" ng-cloak>Description</p>

                <p class="data-item" ng-cloak>{{regex.Description }}</p>
            </div>
        </div>
    </div>
    <div class="regex-moreinfo-container">
        <a title="More info" class="more-info button" ng-click="expand()">view</a>
    </div>
</div>
