/* @override
http://localhost/regexpservice/styles/modules.css */
/* @group Modules -Aesthetics -Default */
/* Applies to layout elements */
.body {
	background-color: #e5e5e5;
}

.main-form-container {
	background-color: #fff;
}

.regex-container {
	background-color: #fff;
	border: 1px solid #ccc;
}

/* Applies to heading elements */
/* Applies to form elements */
.input-text.label {
	font-size: 1.6em;
	line-height: 2.4em;
}

.input-text.main {
	font-size: 2.1em;
	line-height: 1.143em;
}

.search-completed .input-text.main {
	line-height: 1.524em;
}

.input-submit {
	cursor: pointer;
}

.input-submit.main {
	color: #fff;
}

.search-completed .input-submit.main {
	line-height: 2.250em;
}

.form-option-container {
	font-size: 1.4em;
	line-height: 2.286em;
}

/* Applies to paragraphs */
.data-label {
	font-size: 1.8em;
}

.data-label:after {
	content: ': ';
}

/* Applies to links and buttons */
.button {
	background-color: #000;
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 1.6em;
	line-height: 1.5em;
	cursor: pointer;
	text-align: center;
}

.button.active {
	background: #000;
}

.more-info {
	background-color: #a11d20;
}

/* Applies to an individual result */
.data-item {
	word-break: break-word;
}

/* @end */
/* @group Moduiles -Aesthetics - 1000px */
@media screen and (min-width: 1000px) {
	.input-text.label {
	font-size: 2.1em;
	line-height: 1.143em;
}

}

/* @end */